{% extends "base.html" %}

{% block content %}
  <h1>Welcome to the Blog!</h1>
  <h3> See what everyone in the world is doing! </h3>
  {% for post in posts %}
    <div class="post-box">
      <div class="post">
        <h2>{{ post.title }}</h2>
        <p>{{ post.body }}</p>
        <div class="meta">
          <span class="author">{{ post.author.username }}</span>
          <span class="date">{{ post.timestamp.strftime('%Y-%m-%d %H:%M') }}</span>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
